<div>
    <p style="text-align:center">LISTADO USUARIOS</p>

    <div style="text-align:right">
        <button class="btn btn-success" routerLink="/Agregar" style="margin: 50px">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

    <div style="margin-left: 100px;margin-right: 100px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of ListaUsarios">
                    <th>{{usuario.id}}</th>
                    <td>{{usuario.firstName}}</td>
                    <td>{{usuario.lastName}}</td>
                    <td>{{usuario.document}}</td>
                    <td>{{usuario.address}}</td>
                    <td>{{usuario.phone}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="modificar(usuario.id)">
                            <i class=" fa fa-edit"></i>
                        </button>


                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminar(usuario.id)">
                            <i class="fa fa-trash-o fa-lg"></i>
                        </button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>