<div>
    <P style="text-align:center">MODIFICAR EQUIPO</P>

    <div>
        <div class="row">

            <div class="col-sm-6" style="margin-left: 100px;margin-right: 100px;">

                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre usuario:</label>
                        <input [(ngModel)]="usuario.firstName" type="text" class="form-control" name="firstName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Apellido usuario:</label>
                        <input [(ngModel)]="usuario.lastName" type="text" class="form-control" name="lastName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Documento usuario:</label>
                        <input [(ngModel)]="usuario.document" type="text" class="form-control" name="document">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Direccion usuario:</label>
                        <input [(ngModel)]="usuario.address" type="text" class="form-control" name="address">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Telefono usuario:</label>
                        <input [(ngModel)]="usuario.phone" type="text" class="form-control" name="phone">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Correo usuario:</label>
                        <input [(ngModel)]="usuario.email" type="text" class="form-control" name="email">
                    </div>

                    <button class="btn btn-success" (click)="Modificar(usuario.id)">
                        <i class="fa fa-plus"></i>
                        Modificar
                    </button>
                </form>

            </div>

        </div>

    </div>
</div>